<div class="flex-cointainer">
  <mat-slide-toggle (change)="changeEdit($event)" class="flex">
    Edit
  </mat-slide-toggle>
  <div class="flex">
    Rows: {{displayForm.controls.length}}
  </div>
  <div class="flex">
    Number of Columns: {{columns?.length}}
  </div>
</div>
<mat-form-field class="header">
  <input type="text" matInput placeholder="Search" [formControl]="searchForm">
</mat-form-field>
<div cdkDropList cdkDropListOrientation="horizontal" class="flex-cointainer header example-list" (cdkDropListDropped)="drop($event)">
  <div *ngFor="let column of columns" class="flex example-box" cdkDrag>{{column}}</div>
</div>
<form [formGroup]="dataForm">
  <cdk-virtual-scroll-viewport itemSize="60" class="example-viewport">
    <ng-container *cdkVirtualFor="let row of displayForm.controls; let i=index; templateCacheSize:0"> <!--| filter: searchForm.value;-->
      <div class="flex-cointainer" *ngIf="!edit">
        <div *ngFor="let column of columns" class="flex">{{row.get(column)?.value}}</div>
      </div>
      <div class="flex-cointainer" *ngIf="edit" [formGroup]="row">
          <input *ngFor="let column of columns" class="flex" type="text" matInput [placeholder]="column" [formControlName]="column"> 
      </div>
    </ng-container>
  </cdk-virtual-scroll-viewport>
</form>