.flex-cointainer {
    display: flex;
    height: 60px;
}

.flex {
    flex: 1;
}

.example-viewport {
    height: 600px;
    width: 1800px;
    border: 1px solid black;
    border: 0;
}

.example-item {
    height: 60px;
}

.header {
    width: 1783px;
}