
<div class="flex-cointainer">
  <mat-slide-toggle (change)="changeEdit($event)" class="flex">
    Edit
  </mat-slide-toggle>
  <div class="flex">
    Rows: {{displayForm.controls.length}}
  </div>
  <div class="flex">
    Number of Columns: {{columns?.length}}
  </div>
</div>
<mat-form-field class="header" appearance="standard">
  <input matInput type="text" matInput placeholder="Search" [formControl]="searchForm">
</mat-form-field>
<div cdkDropList cdkDropListOrientation="horizontal" class="flex-cointainer header-list" (cdkDropListDropped)="drop($event)">
  <div *ngFor="let column of columns" class="flex header-box" cdkDrag>
    {{column.title}}
    <button mat-icon-button [matMenuTriggerFor]="columnMenu" [matMenuTriggerData]="column"> <mat-icon>more_vert</mat-icon> </button>
  </div>
</div>
<form [formGroup]="displayForm">
  <cdk-virtual-scroll-viewport itemSize="60" class="scrollable-viewport">
    <ng-container *cdkVirtualFor="let row of displayForm.controls; let i=index;">
      <div class="row" *ngIf="!edit">
        <div *ngFor="let column of columns" class="cell">{{row.get(column.name)?.value}}</div>
      </div>
      <div class="row" *ngIf="edit" [formGroup]="row">
        <div *ngFor="let column of columns" class="cell">
          <ng-container [ngSwitch]="column.type">
            <mat-form-field *ngSwitchCase="'number'" appearance="standard">
              <input matInput type="number" [placeholder]="column.name" [formControlName]="column.name">
              <mat-hint></mat-hint>
            </mat-form-field>
            <mat-form-field *ngSwitchCase="'string'" appearance="standard">
              <input matInput type="text" [placeholder]="column.name" [formControlName]="column.name">
              <mat-hint></mat-hint>
            </mat-form-field>
            <mat-checkbox *ngSwitchCase="'boolean'" class="checkbox" type="checkbox" [formControlName]="column.name"></mat-checkbox>
            <mat-form-field *ngSwitchDefault appearance="standard">
              <input matInput type="text" [placeholder]="column.name" [formControlName]="column.name">
              <mat-hint></mat-hint>
            </mat-form-field>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </cdk-virtual-scroll-viewport>
</form>

<mat-menu #columnMenu="matMenu">
  <ng-template matMenuContent let-name="name">
    <button mat-menu-item (click)="sortClick(name)">Sort</button>
    <button mat-menu-item>Group</button>
  </ng-template>
</mat-menu>