.flex-container {
  display: flex;
  flex: 1;
  flex-grow: 0;
  // height: 80px;
}

.flex {
  flex: 1;
}

cdk-virtual-scroll-viewport {
  flex: 1;
}

.grid-container {
  display: flex;
  flex: 1;
  flex-grow: 1;
  height: 100%;
}

.scrollable-viewport {
  height: 100%;
  // width: 1600px;
  // flex: 1;
  // border: 1px solid black;
  border: 0;
  flex: 1;
  flex-grow: 9;
}

.sticky-column-viewport {
  height: 600px;
  // width: 200px;
  // flex: 1;
  // border: 1px solid black;
  border: 0;
  overflow-y: hidden;
  flex: 1;
  flex-grow: 1;
}

.component-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  width: 100%;
}

.header-list {
// width: 1000px;
// max-width: 100%;
// width: 1780px;
  flex: 1;
  margin-right: 18px;
  border: solid 1px #ccc;
  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  flex-basis: 36px;
  flex-grow: 0;
}

.header-box {
padding: 0px 10px;
border-right: solid 1px #ccc;
color: rgba(0, 0, 0, 0.87);
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
box-sizing: border-box;
cursor: move;
background: white;
// font-size: 14px;
flex: 1;
}

.row {
display: flex;
height: 80px;
// border: solid 1px #ccc;
flex-direction: row;
// background: white;
overflow: hidden;
}

.checkbox {
justify-content: center !important;
}

.cell {
flex: 1;
// width: 300px;
// background: white;
box-sizing: border-box;
flex-direction: row;
align-items: center;
justify-content: center;
display: flex;
// padding: 20px 10px;
// border-right: solid 1px #ccc;
// color: rgba(0, 0, 0, 0.87);
// border-width: 1px;
// border-style: ;
// border-color: ;
// border-image: ;
}

.cdk-drag-preview {
box-sizing: border-box;
border-radius: 4px;
box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
            0 8px 10px 1px rgba(0, 0, 0, 0.14),
            0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.header-box:last-child {
  border: none;
}

.header-list.cdk-drop-list-dragging .header-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.light {

  .scrollable-viewport {
    color: rgba(0, 0, 0, 0.87);
    background: white;
  }
}

.dark {

  .scrollable-viewport {
    color: rgb(255, 255, 255);
    background: rgb(75,75,75);
  }
}

.compact {
  font-size: 12px;

  .flex-cointainer {
    height: 60px;
  }

  .header-list {
    height: 60px;
  }

  .row {
    height: 60px;
  }
}

.inventory {
  font-size: 14px;
  height: 100%;

  .flex-cointainer {
    height: 36px;
  }

  .header-list {
    height: 36px;
  }

  .row {
    height: 36px;
  }

}

.inventory-box {
  font-size: 14px;

  .flex-cointainer {
    height: 36px;
  }

  .header-list {
    height: 36px;
  }

  .row {
    height: 36px;
    border-radius: 4px;
    border: solid 1px #ccc;
  }

  .cell {
    border-right: solid 1px #ccc;
  }

}