
<form [formGroup]="settingsForm">
  <p>
    Theme: 
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" formControlName="template">
      <mat-button-toggle value="light">Light</mat-button-toggle>
      <mat-button-toggle value="dark">Dark</mat-button-toggle>
      <mat-button-toggle value="compact">Compact</mat-button-toggle>
      <mat-button-toggle value="inventory">Inventory</mat-button-toggle>
    </mat-button-toggle-group>
  </p>
</form>


<app-grid
 [data]="data"
 [columns]="columns"
 [template]="settingsForm.get('template')?.value"
 ></app-grid>
